BasedOnStyle: LLVM
Language: Cpp

IndentWidth: 4
TabWidth: 4
UseTab: Never
NamespaceIndentation: All

AlignConsecutiveAssignments: true
AlignConsecutiveDeclarations: true
AlignOperands: true
AlignTrailingComments: true
QualifierAlignment: Left

BreakBeforeBraces: Allman
BraceWrapping:
  AfterClass: true
  AfterControlStatement: true
  AfterEnum: true
  AfterFunction: true
  AfterNamespace: true
  AfterStruct: true
  AfterUnion: true
  BeforeElse: true
  IndentBraces: false

AlwaysBreakAfterReturnType: TopLevel
AllowShortIfStatementsOnASingleLine: false
AllowShortFunctionsOnASingleLine: None
AllowShortBlocksOnASingleLine: false

SortIncludes: true
IncludeBlocks: Preserve
IncludeCategories:
  - Regex:           '^<.*\.h>'
    Priority:        1
    SortPriority:    0
    CaseSensitive:   false
  - Regex:           '^".*"' 
    Priority:        2
IncludeIsMainRegex: '([-_](test|unittest))?$'

SortUsingDeclarations: true

SpacesInAngles: false
SpacesInSquareBrackets: false
SpaceAfterCStyleCast: true
SpaceBeforeParens: ControlStatements

ColumnLimit: 120
ReflowComments: true
Cpp11BracedListStyle: true